
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
	<div class="col-md-4">
		<div class="single-sidebar">
			<h2 class="sidebar-title">Tìm Kiếm Sản Phẩm </h2>
			<input type="text" id="myInput" placeholder="Tìm kiếm sản phẩm">
			<input type="button" onclick="SearchProduct(document.getElementById('myInput').value)" value="Tìm kiếm">

		</div>
	</div>